{% extends "layouts/base.html" %}
{% block title %}Reset Password{% endblock %}

{% block main %}
{% if validlink %}
<div class="container">
	<div class="col-md-6 col-md-offset-3 white-background">
		<h1 class="txt-center">Reset Password</h1>

		<br>

		<form action="" method="post">
			{% csrf_token %}
			<center>{{ form.non_field_errors }}</center>

			{{ form.new_password1.errors }}
			<input id="{{ form.new_password1.auto_id }}" name="{{ form.new_password1.name }}" type="password" class="form-control" placeholder="New Passowrd" />

			<br>

			{{ form.new_password2.errors }}
			<input id="{{ form.new_password2.auto_id }}" name="{{ form.new_password2.name }}" type="password" class="form-control" placeholder="Confirm Passowrd" />

			<br>

			<input type="submit" value="Change Password" class="btn btn-primary full-width" />

			<br>
			<br>
			<br>
		</form>
		{% else %}
		<h1>Password reset unsuccessful</h1>
		<p>The password reset link was invalid, <br />
			possibly because it has already been used. <br />
			Please request a new password reset.
		</p>
		{% endif %}

	</div>
</div>
{% endblock %}