{% extends "layouts/base.html" %}

{% block meta %}
<meta name="description" content="About - Roast Dictionary" />
<meta property="og:title" content="About - Roast Dictionary" />
<!-- <meta property="og:type" content="" /> -->
<!-- <meta property="og:url" content="<%= yield(:og_url) %>" /> -->
<!-- <meta property="og:description" content="About page" /> -->
{% endblock %}


{% block main %}

<div class="container">
	<div class="col-md-6 col-md-offset-3 white-background">
		<br>

		<h1 class="txt-center">About Us</h1>

		<br>
		
		<h2 class="txt-center">Our Mission</h1>

		<p class="txt-center">Here at Roast Dictionary, our mission it to bring the greatest snakes that ever lived, to be together in harmony, and die in harmony in the eternal fiery hell of their own roasts.  </p>
		
		<br>

	</div>
</div>
{% endblock %}