{% extends "layouts/base.html" %}

{% block main %}
<div class="container">
	<div class="jumbotron white-background main">
		<h1>Bad Request</h1>

		<p>Whoops, looks like something went wrong on our end</p>
		<p>If you'd like to help us fix this issue, please let us know exactly what happened <a href="/contact/">over here</a></p> 
		<p>Otherwise just try to enjoy the rest of  <a href="/">Roast Dictionary</a> and maybe check back later!</p>
	
		<small class="text-muted">Status Code: 400</small>
	</div>
</div>
{% endblock %}