{% extends "layouts/base.html" %}

{% block main %}
<div class="container">
	<div class="jumbotron white-background main">
		<h1>Personal Issues 🤒</h1>

		<p>Oh great, something broke on our end... More things for us to fix 😥</p> 
		<p>If you think this is out-of-the-ordinary and something's wrong, <a href="/contact/">let us know</a>.</p>
		<p>In the meantime, why dont you <a href="/">browse some dank roasts</a> to pass the time?</p>
	
		<small class="text-muted">Status Code: 500</small>
	</div>
</div>
{% endblock %}